html, body {
  margin: 0;
  padding: 0;
  background: #222;
  color: #fff;
}

.download{
  color:#fff;
  margin: 5px;
  font-size: 30px
}

.imageName{
  position: fixed;
  left: 50%;
  transform: translate(-40%, 20%);
}

.deleteButton{
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  font-size: 30px
}
.formClose{
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #222;
  z-index: 20;
}

.expandedImage {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
.test{
  position: fixed;
  max-height: auto;
  max-width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#root {
  display: flex;
  flex-direction: column;
}
.uploadBackground{
  background: transparent;
  width: 40%;
  height: 22vh;
  border: solid;
  border-color: dimgray;
  max-width: 300px;
  opacity: 25%;
  margin-top: 30px
}


form {
  text-align: center;
  position: relative;
  top: 40%;
}
.uploadBarContainer{
  position: absolute;
  height:40px;
  width: 100%;
  padding-bottom: 25px;
}
.feedImage {
  margin-bottom: 5px;
  background-color:#222;
  width: 50%;
  height: 50%;
  overflow: hidden;
  padding-top:15px;
  padding-bottom: 15px;
}

.feedImage:hover{
  animation-name: zoom;
  animation-duration:1s;
  animation-fill-mode:both;
}


.glitchContainer {
  position: absolute;
  top: 40%;
  left: 50%;
}

.glitch:hover{
  font-size: 150px;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gallery {
  display: none;
}

.feedImage {
  width: 28%;
  height: auto;
}

.uploadButton {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logoutButton {
  position: fixed;
  z-index: 5;
  font-size: 25px;
  margin: 5px;
  cursor: pointer;
}

.pickFileButton:hover {
  color: #02f73f;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

.uploadButton:hover {
  color: #02f73f;
  font-size: 30px;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

.pickFileButton {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size:17px;
}

/* ::-webkit-file-upload-button {
  border: none;
  background: inherit;
  color: #fff;
  cursor: pointer;
  display: hide;
} */

input[type='file'] {
  display:none;
}

/* Glitch Styling */

.glitch {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 100px;
  cursor: pointer;
}

.glitch::before, .glitch::after {
  content:'Phucket';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}

.glitch::before {
  animation: glitch 0.3s linear infinite;
  color: #02f73f;
  z-index: -2;
}

.glitch::after {
  animation: glitch 0.3s reverse infinite;
  color: #cb01f9;
  z-index: -1;
}

@keyframes glitch {
  0% {
    top: 0;
    left: 0;
  }
  20% {
    top: -2px;
    left: -2px;
  }
  40% {
    top: 2px;
    left: 2px;
  }
  60% {
    top: -2px;
    left: 2px;
  }
  80% {
    top: 2px;
    left: -2px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

@keyframes zoom {

  100% {
    width: 60vw;
    height: auto;
  }
}