body {
  background: #222;
  color: #fff;
}

.uploadBarContainer{
  position: absolute;
  height:40px;
  width: 100%;
  padding-bottom: 25px;
}
img {
  margin-bottom: 5px;
  background-color:#222;
  width: 50%;
  height: 50%;
  overflow: hidden;
  padding-top:15px;
  padding-bottom: 15px;
}

img:hover{
  animation-name: zoom;
  animation-duration:2s;
  animation-fill-mode:both;
}


.glitchContainer {
  position: absolute;
  top: 40%;
  left: 50%;
}

.glitch:hover{
  font-size: 150px;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.gallery {
  display: none;
}

img {
  width: 40%;
  height: auto;
}

.uploadButton {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.pickFileButton:hover {
  color: #02f73f;
  font-size: 30px;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

.uploadButton:hover {
  color: #02f73f;
  font-size: 30px;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

.pickFileButton {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* ::-webkit-file-upload-button {
  border: none;
  background: inherit;
  color: #fff;
  cursor: pointer;
  display: hide;
} */

input[type='file'] {
  display:none;
}

/* Glitch Styling */

.glitch {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 100px;
  cursor: pointer;
}

.glitch::before, .glitch::after {
  content:'Phucket';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}

.glitch::before {
  animation: glitch 0.3s linear infinite;
  color: #02f73f;
  z-index: -2;
}

.glitch::after {
  animation: glitch 0.3s reverse infinite;
  color: #cb01f9;
  z-index: -1;
}

@keyframes glitch {
  0% {
    top: 0;
    left: 0;
  }
  20% {
    top: -2px;
    left: -2px;
  }
  40% {
    top: 2px;
    left: 2px;
  }
  60% {
    top: -2px;
    left: 2px;
  }
  80% {
    top: 2px;
    left: -2px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

@keyframes zoom {

  100% {
    width: 60vw;
    height: auto;
  }
}