img {
  width: 50%;
  height: 50%;
  overflow: hidden;
}

body {
  background: #222;
  color: #fff;
}

.glitchContainer {
  position: absolute;
  top: 50%;
  left: 50%;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery {
  display: none;
}

img {
  width: 40%;
  height: auto;
}



/* ::-webkit-file-upload-button {
  border: none;
  background: inherit;
  color: #fff;
  cursor: pointer;
  display: hide;
} */

input[type='file'] {
  display:none;
}

/* Glitch Styling */

.glitch {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 100px;
  cursor: pointer;
}

.glitch::before, .glitch::after {
  content:'Phucket';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}

.glitch::before {
  animation: glitch 0.3s linear infinite;
  color: #02f73f;
  z-index: -2;
}

.glitch::after {
  animation: glitch 0.3s reverse infinite;
  color: #cb01f9;
  z-index: -1;
}

@keyframes glitch {
  0% {
    top: 0;
    left: 0;
  }
  20% {
    top: -2px;
    left: -2px;
  }
  40% {
    top: 2px;
    left: 2px;
  }
  60% {
    top: -2px;
    left: 2px;
  }
  80% {
    top: 2px;
    left: -2px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}